{% extends "base.html" %}
{% block title %}Retrieve Items{% endblock %}
{% block content %}
<h1 class="display-4"><b>Inventory</b></h1>
<a href="/exportTable" class="btn btn-success">Export to Excel</a>
<div>
    {% if count == 0 %}
    <p>There are no items.</p>
    {% elif count == 1 %}
    <p>There is 1 item.</p>
    {% else %}
    <p>There are {{ count }} items.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Item</th>
            <th>Description</th>
            <th>Condition</th>
            <th>Stock</th>
            <th>Selling Price ($)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items_list %}
        <tr>
            <td>{{ item.get_item_id() }}</td>
            <td>{{ item.get_category() }}</td>
            <td>{{ item.get_item() }}</td>
            <td style="white-space: normal; width: auto; word-wrap: break-word;">{{ item.get_description() }}</td>
            <td>{{ item.get_condition() }}</td>
            <td>{{ item.get_stock() }}</td>
            <td>{{ item.get_selling_price() }}</td>
            <td><a href="/updateItem/{{item.get_item_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_item', id=item.get_item_id())}}" method="POST">
                    <!--       <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#}{#user.get_last_name()#}?');">-->
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#myModal_{{item.get_item_id()}}">Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{item.get_item_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete {{item.get_item()}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}